{% assign first_two_services = include.events | slice:0, 2 %}
{% assign remaining_services = include.events | slice:2, 100 %}

<section class="promotion full-bleed easter2020">
    <div class="header">
        <h1>{{ event.name }}</h1>
        <div class="subtitle">Join us to celebrate our risen saviour!</div>
    </div>
    <div class="all-events">
        {%- for event in include.events -%}
        <div class="event" valid_until="{{ event.expires }}">
            <div class="title">{{ event.title }}</div>
            <div class="when"><span>{{ event.date }}</span> at <span>{{ event.time }}</span></div>
            <div class="description">{{ event.description }}</div>
            {%- if event.links -%}
            <div class="links">
                {%- if event.links.facebook -%}
                <a class="facebook button" href="{{ event.link }}">Facebook Live</a>
                {%- endif -%}
                {%- if event.links.youtube -%}
                <a class="youtube button" href="{{ event.link }}">YouTube</a>
                {%- endif -%}
            </div>
            {%- else -%}
            <div class="links no-link">Links coming soon</div>
            {%- endif -%}
        </div>
        {%- endfor -%}
    </div>
</section>