<section id="find-us" class="find-us">
  <h1> Find Us</h1>
  <div class="location">
    <div class="address">
        Down Street<br/>London<br/>W1J 7AN<br/>
        Green Park <br/>
        Hyde Park Corner
    </div>
    <a id="directions-button" class="button" href="#">Directions</a>
  </div>
  <div class="map">
    <iframe
      frameborder="0" style="border:0"
      src="https://maps.google.com/maps?q=Christ%20Church%20Mayfair&t=&z=15&ie=UTF8&iwloc=&output=embed&z=14"
      allowfullscreen>
    </iframe>
  </div>
</section>