<footer>
  <div class="contact">
      <div class="logo">
          <svg viewbox="0 0 720 162">
            <use xlink:href="/assets/images/ccm-logo-full.svg#full-logo" />
          </svg>
        </div>
    <address>
      <a href="{{ site.office_maps_link }}">{{ site.office_address | join: " <br/>"}}</a>
    </address>
    <a class="phone" href="tel:{{ site.office_phone_number }}">{{ site.office_phone_number }}</a>
    <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
  </div>
  <div class="all-links">
    {% for page in site.pages %}
      {% if page.showInFooter == true %}
      <a href="{{ page.url }}">{{page.title}}</a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="smallprint">
    {% for smallprint in site.footer.smallprint %}
    <div class="item">{{ smallprint }}</div>
    {% endfor %}
  </div>
</footer>