<nav id="menu">
  <a class="logo" href="/">
    <svg viewbox="0 0 720 162">
      <use xlink:href="assets/images/ccm-logo-full.svg#full-logo" />
    </svg>
  </a>
  <a id="close-menu" href="#">
  <svg id="close-menu-icon" viewBox="0 0 100 100">
    <use xlink:href="assets/images/close-menu-button.svg#close-button" />
  </svg>
  </a>
  <div id="menu-content">
      <a href="aboutus.html">About Us</a>
      <a href="students.html">Students</a>
      <a href="children.html">Children</a>
      <a href="music.html">Music</a>
      <a href="talks.html">Talks</a>
  </div>
</nav>

<header id="header" class="mobile-header">
  <a class="logo" href="/">
    <svg viewbox="0 0 720 162">
      <use xlink:href="assets/images/ccm-logo-full.svg#full-logo" />
    </svg>
  </a>
  <a id="open-menu" href="#">
  <svg id="open-menu-icon" viewBox="0 0 100 100">
    <use xlink:href="assets/images/hamburger.svg#hamburger" />
  </svg>
  </a>
</header>

<header id="header" class="desktop-header">
    <a class="logo" href="/">
      <svg viewbox="0 0 720 162">
        <use xlink:href="assets/images/ccm-logo-full.svg#full-logo" />
      </svg>
    </a>
    <div id="menu-content">
      <a href="aboutus.html">About Us</a>
      <a href="students.html">Students</a>
      <a href="children.html">Children</a>
      <a href="music.html">Music</a>
      <a href="talks.html">Talks</a>
    </div>
  </header>
