<nav id="menu">
  <a class="logo" href="/">
    <svg viewbox="0 0 720 162">
      <use xlink:href="/assets/images/ccm-logo-full.svg#full-logo" />
    </svg>
  </a>
  <a id="close-menu" href="#">
    <svg id="close-menu-icon" viewBox="0 0 100 100">
      <use xlink:href="/assets/images/close-menu-button.svg#close-button" />
    </svg>
  </a>
  <div id="menu-content">
    {% for page in site.pages | sort: "menuOrder" %}
      {% if page.showInMenu == true %}
      <a href="{{ page.url }}">{{page.title}}</a>
      {% endif %}
    {% endfor %}
  </div>
</nav>

<header id="header" class="header mobile-header {{ page.headerColour }}">
  <a class="logo" href="/">
    <svg viewbox="0 0 720 162">
      <use xlink:href="/assets/images/ccm-logo-full.svg#full-logo" />
    </svg>
  </a>
  <a id="open-menu" href="#">
    <svg id="open-menu-icon" viewBox="0 0 100 100">
      <use xlink:href="/assets/images/hamburger.svg#hamburger" />
    </svg>
  </a>
</header>

<header id="header" class="header desktop-header {{ page.headerColour }}">
  <a class="logo" href="/">
    <svg viewbox="0 0 720 162">
      <use xlink:href="/assets/images/ccm-logo-full.svg#full-logo" />
    </svg>
  </a>
  <div id="menu-content">
    {% for page in site.pages | sort: "menuOrder" %}
      {% if page.showInMenu == true %}
      <a href="{{ page.url }}">{{page.title}}</a>
      {% endif %}
    {% endfor %}
</div>
</header>
