<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  {%- if page.title -%}
    <title>{{ site.title }} - {{ page.title }}</title>
  {%- else -%}
    <title>{{ site.title }}</title>
  {%- endif -%}
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="icon" type="image/png" href="assets/images/white-on-black-ccm-logo-square-favicon-64x64.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/ccm-logo-square-3x.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <script src="assets/javascript/menu.js"></script>
</head>
