<section class="promotion full-bleed health-matters">
    <h1>{{ event.name }}</h1>
    <div class="leader">{{ event.leader | markdownify }}</div>
    <div class="info">
        <div class="date">{{ event.eventDate }}</div>
        <div class="location">{{ event.content | markdownify }}</div>
        <div class="price">{{ event.price }}</div>
        <form name="health-matters" netlify class="signup">
            <input type="email"  placeholder="Enter your email" name="email"/>
            <button class="button" type="submit">Sign up</button>
        </form>
        <!--<a class="button" href="mailto:{{event.signUpEmail}}">Register</a>-->
    </div>
</section>
<!--<script src="/assets/javascript/honest-questions.js"></script>-->