{% assign extra_section_attribute = "" %}
{% assign photo_attribute = "responsive-background-image"}
{% if include.style_classes contains "full-bleed" %}
  {% assign extra_section_attribute = "responsive-background-image" %}
  {% assign photo_attribute = ""}
{% endif %}
<section class="info-panel {{ section.style_classes | join: " " }}" {{ extra_section_attribute }}>

  <div class="text"><h1>{{ include.title }}</h1>
    {{ include.content }}
  </div>
  <div class="photo {{ section.image_alignment_classes | join: " " }}" {{ photo_attribute }}>
      <picture>
          <source srcset="{{ include.mainImage }}" media="(min-width: 968px)" />
          <img src="{{ include.mobileImage }}" />
      </picture>
  </div>
</section>