{% assign first_two_services = include.events | slice:0, 2 %}
{% assign remaining_services = include.events | slice:2, 100 %}

<section class="promotion full-bleed london-living">
    <div>
        <div class="header">
        	<img src="/assets/images/LL_logo.svg" />
        </div>
        <div class="text">{{ event.content | markdownify }}</div>
        <div class="buttons">
            <a class="button" href="/londonliving">Learn More</a>
            <!-- <a class="button" href="/londonliving#book-london-living">Book Tickets</a> -->
        </div>
    </div>
</section>