{% assign resources = site.pages | where: "path","music_resources.md" | first %}
{% assign tracks = resources.tracks %}
<section class="music-resources">
  <h1>{{ resources.title }}</h1>
  <p>{{ resources.content | markdownify }}</p>
  <div class="resources">
    {% for track in tracks %}
      <div class="track">
        <div class="title">{{ track.title }}</div>
        {% for file in track.files %}
        <a href="{{ file.url }}">{{ file.name }}</a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>
