<section class="music-releases">
  <div>
    <h1>Releases</h1>
    <div class="music-release-list">
    {% assign releases = site.music_releases | sort: 'date' | reverse %}
    {% for release in releases %}
      <div class="music-release">
        <img class="music-release-cover" src="{{ release.coverImage }}"/>
          <div class="music-release-title">{{ release.title }} - {{ release.type }}</div>
          <div class="music-service-links">
            {% if release.spotifyLink %}
            <a class="music-service-link spotify-link" href="{{ release.spotifyLink }}"></a>
            {% endif %}
            {% if release.appleMusicLink %}
            <a class="music-service-link apple-music-link" href="{{ release.appleMusicLink }}"></a>
            {% endif %}
          </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>