---
layout: default
---
<section class="hero" responsive-background-image>
  <img class="responsive-background" src="/images/test-1600.jpg"
    sizes="
      (min-width: 640px) 100vw,
      (max-width: 640px) 100vw"
    srcset="
      {{ page.mainImage }} 3840w,
      {{ page.mobileImage }} 2147w" >
  <h1>{{ page.overlayCaption }}</h1>
</section>

<section class="intro">
  <div class="text">
    {{ content }}
  </div>
</section>

<section class="info-panel dark image-right">
  <div class="text"><h1>Speaking of Jesus</h1>
    We are a church who seek to engage heart and mind, as we learn from the Bible of what God is like, we look after one another in community and reach out to those around us and tell them about Jesus.
  </div>
  <div class="photo">
    <img src="/assets/images/bella_bible_study_cropped.jpg"/>
  </div>
</section>

<section class="info-panel full-bleed" responsive-background-image>
  <div class="photo">
    <img src="/assets/images/von_cropped.jpg"/>
  </div>
  <div class="text">
    <h1>Growing Together</h1>
    We are a church who seek to engage heart and mind, as we learn from the Bible of what God is like, we look after one another in community and reach out to those around us and tell them about Jesus.
  </div>
</section>

<section class="info-panel fancy-overlay">
  <div class="photo">
    <img src="/assets/images/von_cropped.jpg"/>
  </div>
  <div class="text">
    <h1>Serving Our City</h1>
    We are a church who seek to engage heart and mind, as we learn from the Bible of what God is like, we look after one another in community and reach out to those around us and tell them about Jesus.
  </div>
</section>

{% assign staff = site.people | where: "type", "staff" | sort: "order" %}
<section class="highlight">
  <div>
  <h1>Ministry Team</h1>
  Lorem ipsum dolor sit amet, sea ne nibh facilisi aliquando. Id his cibo ludus fastidii. Pro ad homero insolens cu.
  </div>
</section>

<section class="staff ministry">
{% for person in staff %}
  <div id="{{ person.name | replace: " ", "_" }}" class="person ministry">
    <div class="info">
      <h1>{{ person.name }}</h1>
      <p class="role">{{ person.role }}</p>
      <a class="email" href="mailto:{{ person.email }}">Email</a>
    <div class="bio">{{ person.content }}</div>
    </div>
    <img src="assets/headshots/{{person.headshot}}">
  </div>
  {% endfor %}
</section>