---
layout: default
---

{% include hero_and_intro.html content=content overlayCaption=page.overlayCaption mainImage=page.mainImage mobileImage=page.mobileImage %}

{% assign about_us_sections = site.about_us | sort: "order" %}

{% for section in about_us_sections %}
{% assign extra_attribute = "" %}
{% if section.style_classes contains "full-bleed" %}
  {% assign extra_attribute = "responsive-background-image" %}
{% endif %}
<section class="info-panel {{ section.style_classes | join: " " }}" {{ extra_attribute }}>
  <div class="text"><h1>{{ section.title }}</h1>
    {{ section.content }}
  </div>
  <div class="photo">
    <img src="{{ section.image }}"/>
  </div>
</section>
{% endfor %}

{% assign staff = site.people | where: "type", "staff" | sort: "order" %}
<section class="highlight">
  <div>
  <h1>Ministry Team</h1>
  Lorem ipsum dolor sit amet, sea ne nibh facilisi aliquando. Id his cibo ludus fastidii. Pro ad homero insolens cu.
  </div>
</section>

<section class="staff ministry">
{% for person in staff %}
  <div id="{{ person.name | replace: " ", "_" }}" class="person ministry">
    <div class="info">
      <h1>{{ person.name }}</h1>
      <p class="role">{{ person.role }}</p>
      <a class="email" href="mailto:{{ person.email }}">Email</a>
    <div class="bio">{{ person.content }}</div>
    </div>
    <img src="assets/headshots/{{person.headshot}}">
  </div>
  {% endfor %}
</section>