---
layout: default
---
<section class="hero centred" responsive-background-image>
  <img class="responsive-background" src="/images/test-1600.jpg"
    sizes="
      (min-width: 640px) 100vw,
      (max-width: 640px) 100vw"
    srcset="
      {{ page.mainImage }} 3840w,
      {{ page.mobileImage }} 2147w" >
  <h1>{{ page.overlayCaption }}</h1>
</section>
<section class="intro wider">
  <div>
  {{ content }}
  </div>
</section>

{% assign extra = site.pages | where: "path","extra_childrens_section.md" | first %}

<section class="info-panel dark image-right">
  <div class="text"><h1>{{extra.title}}</h1>
    {{ extra.content }}
  </div>
  <div class="photo">
  <img src="{{ extra.image }}"/>
</div>
</section>

{% assign littlelambs = site.pages | where: "path","littlelambs.md" | first %}

<section class="info-panel full-bleed" responsive-background-image>
  <img src="{{littlelambs.image}}"/>
  <div class="text">
    <h1>{{littlelambs.title}}</h1>
    {{ littlelambs.content }}
  </div>
</section>

{% include bio.html role_type="childrens_worker" %}
