---
layout: default
---
<section class="hero centred" responsive-background-image>
  <img class="responsive-background" src="/images/test-1600.jpg"
    sizes="
      (min-width: 640px) 100vw,
      (max-width: 640px) 100vw"
    srcset="
      {{ page.mainImage }} 3840w,
      {{ page.mobileImage }} 2147w" >
  <h1>{{ page.overlayCaption }}</h1>
</section>
<section class="intro wider">
  <div>
  {{ content }}
  </div>
</section>
<section class="info-panel dark image-right">
  <div class="text"><h1>For all Ages</h1>
    We are a church who seek to engage heart and mind, as we learn from the Bible of what God is like, we look after one another in community and reach out to those around us and tell them about Jesus.
  </div>
  <div class="photo">
  <img src="/assets/images/children_with_toy.jpg"/>
</div>
</section>

<section class="info-panel full-bleed" responsive-background-image>
  <img src="/assets/images/von_cropped.jpg"/>
  <div class="text">
    <h1>Little Lambs</h1>
    We are a church who seek to engage heart and mind, as we learn from the Bible of what God is like, we look after one another in community and reach out to those around us and tell them about Jesus.
  </div>
</section>

<section class="bio">
  <div class="photo">
    <img src="/assets/headshots/James.jpg"/>
  </div>
    <h1>James Kight</h1>
    <div class="text">
      Something about James Kight and how very lovely he is. Your children are safe!
    </div>
</section>
