---
layout: default
---
<div class="holidayclub-bg">
    <section class="holidayclub-headerunderlay"></section>
    <section class="holidayclub-hero">
        <svg
            class="holidayclub-herobackground"
            viewBox="0 0 1240.000000 1748.000000"
            preserveAspectRatio="xMidYMin slice"
        >
            <use xlink:href="/assets/style-images/holidayclub.svg#image" />
        </svg>
        <div class="holidayclub-herotexture"></div>
        <h1 class="holidayclub-herofont">The Greatest Show</h1>
        <p class="holidayclub-herofont holidayclub-tagline">Half Term Holiday Club</p>
        <!--<div class="holidayclub-herodates">Tuesday 18th – Thursday 20th February 2020</div>
        <div class="holidayclub-herotimes">From 10am–2pm each day</div>-->
        <!--<a class="holidayclub-booklink" href="https://google.com">
            <span style="padding-top: 0.2em; line-height: initial;">Book now</span>
            <span style="font-weight: 700; font-size: 0.6em; line-height: initial; padding-bottom: 0.3em;">£15 per child</span>
        </a>-->
        <div class="holidayclub-herobookingnotice">
            <div>Bookings open 1st December</div>
            <!--<div style="font-size: 0.8em;">£15 per child</div>-->
        </div>
    </section>
    <section class="holidayclub-dateinfo">
        <hr />
        <div class="holidayclub-dateinfobody">
            <div class="holidayclub-dateinfobody-copy">
                <p>Tues 18<sup>th</sup> &mdash; Thurs 20<sup>th</sup> February 2020</p>
                <p>10am &mdash; 2pm each day</p>
            </div>
            <div class="holidayclub-dateinfobody-price">
                <p style="font-size: 1.5em; line-height: 1;">£15</p>
                <p style="font-size: 0.6em;">per child</p>
            </div>
        </div>
        <hr />
    </section>
    <section class="holidayclub-main">
        <div style="grid-area: body;">
            {{ page.content | markdownify }}
        </div>
    </section>
</div>
