---
layout: default
---

{% assign events = site.events | where: "status", "live" %}

{% assign services = site.services | where: "type", "service" %}


<section class="hero left bottom carousel {{ page.heroClasses | join: " " }}" responsive-background-image>
  <h1>{{ page.overlayCaption }}</h1>
  <picture>
      <source srcset="{{ page.mainImage }}" media="(min-width: 968px)" />
      <img src="{{ page.mobileImage }}" />
  </picture>
  <picture>
    <source srcset="{{ page.nextMainImage }}" media="(min-width: 968px)" />
    <img src="{{ page.nextMobileImage }}" />
  </picture>
</section>

<section class="intro">
  <div class="text">
    {{ content }}
  </div>
  <a id="find-us-button" class="button index-top-section-btn" href="#find-us">
    Find Us
  </a>
  <a id="services-button"   class="button index-top-section-btn" href="#services">
    Sunday Services
  </a>
</section>

{%- if events.size > 0 -%}
{% assign event = events.first %}
<section class="promotion full-bleed" responsive-background-image>
  <div>
    <h1 >{{ event.overlayCaption }}</h1>
    {{ event.content | markdownify }}
  </div>
  {%- if event.findOutMoreText -%}
  <a id="promo-button" class="button index-top-section-btn" href="{{ event.findOutMoreLink }}">
      {{ event.findOutMoreText }}
    </a>
  {%- endif -%}
  <div class="photo {{ section.image_alignment_classes | join: " " }}">
    <picture>
        <source srcset="{{ event.mainImage }}" media="(min-width: 968px)" />
        <img src="{{ event.mobileImage }}" />
    </picture>
  </div>
</section>
{%- endif -%}

{%- include services.html -%}

{% assign midweek = site.pages | where: "path","midweek.md" | first %}

<section id="midweek" class="info-panel image-right">
  <div class="photo {{ midweek.image_alignment_classes | join: " "}}" responsive-background-image>
    <img src="{{ midweek.image }}"/>
  </div>
  <div class="text">
    <h1>{{midweek.title}}</h1>
    {{ midweek.content | markdownify }}
  </div>
</section>
  
{%- include find-us.html -%}

{% include bio.html role_type="administrator" content=page.findOutMoreText %}

<script src="/assets/javascript/maps.js"></script>
<!-- <script src="/assets/javascript/carousel.js"></script> -->
