---
layout: default
---

{% assign events = site.events | where: "status", "live" %}

{% assign services = site.services | where: "type", "service" %}


<section class="hero vertical-bottom" responsive-background-image>
  <h1>{{ page.overlayCaption }}</h1>
  <picture>
      <source srcset="{{ page.mainImage }}" media="(min-width: 968px)" />
      <img src="{{ page.mobileImage }}" />
  </picture>
</section>

<section class="intro">
  <div class="text">
    {{ content }}
  </div>
  <a id="find-us-button" class="button index-top-section-btn" href="#find-us">
    Find Us
  </a>
  <a id="services-button"   class="button index-top-section-btn" href="#services">
    Our Meetings
  </a>
</section>

{%- if events.size > 0 -%}
{% assign event = events.first %}
<section class="promotion" style="background-color:{{ event.backgroundColour }}; color: {{event.textColour}};">
  <h1 >{{ event.overlayCaption }}</h1>
  <p>&gt;&gt; Find out more &lt;&lt;</p>
</section>
{%- endif -%}

{% for event in events %}
<section class="event-section">
  <div class="event">
    <h1>{{ event.name }}</h1>
    <p>{{ event.content }}</p>
  </div>
</section>
{% endfor %}

{%- include services.html -%}

{% assign midweek = site.pages | where: "path","midweek.md" | first %}

<section id="midweek" class="info-panel image-right">
  <div class="photo">
    <img src="{{ midweek.image }}"/>
  </div>
  <div class="text">
    <h1>{{midweek.title}}</h1>
    {{ midweek.content | markdownify }}
  </div>
</section>
  
{%- include find-us.html -%}

<section>
  <div>
    <h1>Find Out More</h1>
    If you want to find out more, come along and meet us or get in touch with our admin team. They can answer most questions.
  </div>
</section>

{% include bio.html role_type="administrator" %}

<script src="assets/javascript/maps.js"></script>
