---
layout: default
---
<section class="london-living header-underlay"></section>
<section class="london-living">
  <div class="text">
      <div class="header">
        <img src="/assets/images/LL_logo.svg" />
      </div>
      <div class="description">
      <!-- <p class="strapline">{{ page.strapLine }}</p> -->
      <div class="blurb">{{ page.blurb }}</div>
      </div>
      <div class="podcast-link-container">
        <div class="podcast-link">Apple Podcasts</div>
        <div class="podcast-link">Spotify</div>
        <div class="podcast-link">Google Play</div>
      </div>
    <h1>Events</h1>
      <div class="fliers">
        {% for event in page.events %}
        <div>
          <img src="{{ event.flierImageUrl }}"/>
          <div class="info">
            <div class="when">{{ event.when }}</div>
            <div class="price">{{ event.price }}</div>
            <div class="where">{{ event.where }}</div>
          </div>
          <a class="button" href="{{ event.bookingLink }}">Book Tickets</a>
        </div>
        {% endfor %}
      </div>
  </div>
</section>