---
layout: default
---
<section class="london-living header-underlay"></section>
<section class="london-living">
  <div>
    <div class="intro">
      <div class="header">
        <img src="/assets/images/LL_logo.svg" />
      </div>
      <div class="blurb">{{ page.content | markdownify }}</div>
      <div class="links">
        <a href="https://podcasts.apple.com/gb/podcast/christ-church-mayfair-london-living/id1462242037?mt=2&ls=1" target="_blank">
          <div class="podcast-btn" id="applepodcasts-link"> </div>
        </a>
        <a href="https://open.spotify.com/show/2e9boaobJtY7rkgLLTmHjO" target="_blank">
          <div class="podcast-btn" id="spotify-link"> </div>
        </a>
        {% for link in page.podcast.links %}
      </div>
      <!-- <div class="links">
          <a href="{{ link.link }}" class="button">{{ link.name }}</a>
          {% endfor %}
      </div> -->
    </div>
    
    <div class="podcast">
      <h1>Episodes</h1>
      <div class="blurb"><p>{{ page.podcast.blurb }}</p></div>
      <div class="episodes">
        {% for episode in page.podcast.episodes %}
        <div class="episode">
          <h2>{{ forloop.index }}: {{ episode.title }}: {{ episode.person }}</h2>
          <div class="blurb"><p>{{ episode.blurb }}</p></div>
          <div class="image" responsive-background-image>
            <img src="{{ episode.imageUrl}}"/>
          </div>
          <div class="media">
            <div class="audio">
                <audio controls>
                    <source src="{{ episode.audioUrl }}" type="audio/mpeg">
                </audio>
            </div>
            <div class="video">
              {% if episode.videoEmbedUrl %}
              <iframe id="ytplayer" type="text/html" width="100%" height="360"
              src="{{ episode.videoEmbedUrl }}"
              frameborder="0">
            </iframe>
            {% else %}
            <div class="placeholder">
            </div>
            {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <div id="book-london-living" class="events">
      <h1>Events</h1>
      <div class="fliers">
        {% for event in page.events %}
        <div>
          <img src="{{ event.flierImageUrl }}"/>
          <div class="info">
            <div class="when">{{ event.when }}</div>
            <div class="price">{{ event.price }}</div>
            <div class="where">{{ event.where }}</div>
          </div>
          <a class="button" href="{{ event.bookingLink }}">Book Tickets</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>