---
layout: default
---
{% include hero.html overlayCaption=page.overlayCaption mainImage=page.mainImage mobileImage=page.mobileImage textClass="centred vertical-centred"%}

<section class="intro wider">
  <div class="text">
      {{ content }}
  </div>
</section>

{% assign music_extra = site.pages | where: "path","music/music_extra.md" | first %}

<section class="info-panel dark image-right">
  <div class="text">
    <h1>{{music_extra.title}}</h1>
    {{ music_extra.content | markdownify }}
  </div>
  <div class="photo {{ music_extra.image_alignment_classes | join: " " }}" responsive-background-image>
    <picture>
        <source srcset="{{ music_extra.mainImage }}" media="(min-width: 968px)" />
        <img src="{{ music_extra.mobileImage }}" />
    </picture>
  </div>
</section>

<a name="releases"></a>
{%- include music_releases.html -%}

{% include bio.html role_type="music" content=page.findOutMoreText %}