---
layout: default
---
{% assign staff = site.people | where_exp: "person", "person.roles contains 'staff'" | sort: "order" %}

<section class="highlight">
  <div>
  <h1>Ministry Team</h1>
  </div>
</section>

<section class="staff ministry">
  <div class="people">
      {% for person in staff %}
    <div id="{{ person.name | replace: " ", "_" }}" class="person">
      <div class="info">
        <h1>{{ person.name }}</h1>
        <p class="role">{{ person.role }}</p>
        <a class="email" href="mailto:{{ person.email }}">Email</a>
      <div class="bio">{{ person.content }}</div>
      </div>
      <img src="{{person.headshot}}">
    </div>
  {% endfor %}
  </div>
</section>