---
layout: default
---

<section class="header-underlay"></section>

<section class="intro wider dark">
    <div class="text">
      {{ content }}
    </div>
  </section>

<section class="staff">
  <div>
  {% assign people = site.people | sort: "order" %}

  {% for person in people %}
    <div class=person>
      <div class="photo" responsive-background-image><img src="{{ person.headshot }}"/></div>
      <div class="info">
        <div class="name">{{ person.name }}</div>
        <div class="title">{{ person.title_role }}</div>
        <div class="email"><a href="mailto:{{ person.email }}">{{ person.email }}</a></div>
        <div class="bio">{{ person.content | markdownify }}</div>
      </div>
    </div>

  {% endfor %}
  </div>
</section>