---
layout: default
---

{% include hero_and_intro.html content=content overlayCaption=page.overlayCaption mainImage=page.mainImage mobileImage=page.mobileImage textClass="centred vertical-centred"%}

{% assign extra = site.pages | where: "path","extra_student_section.md" | first %}

<section class="info-panel dark image-right">
  <div class="text"><h1>{{extra.title}}</h1>
    {{ extra.content }}
  </div>
  <div class="photo">
      <picture>
          <source srcset="{{ extra.mainImage }}" media="(min-width: 968px)" />
          <img src="{{ extra.mobileImage }}" />
      </picture>
  </div>
</section>

{% include bio.html role_type="student_worker" %}