---
layout: default
---

{% include hero.html id="talks-hero" overlayCaption=page.overlayCaption mainImage=page.mainImage mobileImage=page.mobileImage textClass="left bottom"%}

<!-- <section id="talks-hero" class="hero left bottom" responsive-background-image>
    <h1>{{ page.overlayCaption }}</h1>
    <picture>
        <source srcset="{{ page.mainImage }}" media="(min-width: 968px)" />
        <img src="{{ page.mobileImage }}" />
    </picture>
</section> -->

<section class="intro talks dark">
  <div class="text">
    {{ content }}
  </div>
    <a id="apple-podcast-link" class="podcast-link" href="{{ page.itunesPodcastURL }}" style="background:url(/assets/badges/US_UK_Apple_Podcasts_Listen_Color_Lockup_RGB_Wht_Type.svg) no-repeat;height: 34px;background-size:contain;width:190px"></a>
    <a id="google-podcast-link" class="podcast-link" href="{{ page.podcastURL }}" style="background:url(/assets/badges/google_podcasts_badge@2x.png) no-repeat;height: 34px;background-size:contain;width:160px"></a>
    <a id="apple-appstore-link" class="appstore-link" href="{{ page.iosAppStoreLink }}"    style="background:url(/assets/badges/Download_on_the_App_Store_Badge_US-UK_RGB_wht_092917.svg) no-repeat;background-size:contain;width:120px;"></a>
    <a id="google-playstore-link" class="appstore-link" href='{{ page.playStoreLink }}'      style="background:url(/assets/badges/google_play_en_badge_web_generic.png) no-repeat;background-size:contain;width:135px;"></a>
</section>

<section class="talks-react-app">
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="root"></div>
</section>

<script src="/assets/javascript/talks-load.js"></script>